<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c)  Microsoft.  All Rights Reserved.  Licensed under the Apache License, Version 2.0.  See License.txt in the project root for license information. -->

<configuration>
  <packageSources>
    <!-- folder with debug builds, nuget restore finds them and installs them into its cache -->
    <add key="Peachpie Debug Packages" value=".nugs" />    
  </packageSources>

</configuration>
